.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 530px 225px;
  margin-left: 30px;
}

h1 {
  font-family: sans-serif;
  margin-left: 22px;
  font-weight: lighter;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 99%;
}

.main-container .element {
  height: 160px;
  width: 230px;
  border-radius: 15px 15px 15px 15px;
  background-color: #57a2d4;
  margin: 20px;

  -webkit-box-shadow: 0px 0px 3px -1px rgba(173, 168, 173, 1);
  -moz-box-shadow: 0px 0px 3px -1px rgba(173, 168, 173, 1);
  box-shadow: 0px 0px 3px -1px rgba(173, 168, 173, 1);
}

img {
  width: 180px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.element .element-text {
  margin-top: -25px;
  height: 41px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: #f2f5f7;
  border-radius: 0 0 15px 15px;
}

h3 {
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 65px;
  padding-top: 7px;
}

.paragraph {
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 40px;
  text-align: justify;
}

/* responsive */

/* tableti */

@media (max-width: 1024px) {
  h1 {
    margin-left: 80px;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    margin-left: 60px;
  }

  .paragraph {
    margin-top: 320px;
    padding-left: 77px;
    padding-bottom: 360px;
    padding-right: 103px;
    text-align: justify;
  }
}

@media (max-width: 930px) {
  h1 {
    margin-left: 47px;
  }

  .paragraph {
    margin-top: 320px;
    padding-left: 51px;
    padding-bottom: 360px;
    padding-right: 59px;
    text-align: justify;
  }

  .main-container {
    margin-left: 24px;
  }
}

@media (max-width: 870px) {
  .grid {
    margin-left: -13px;
  }
}

@media (max-width: 850px) {
  .grid {
    margin-left: -21px;
  }

  .paragraph {
    padding-right: 28px;
  }
}

@media (max-width: 820px) {
  .grid {
    margin-left: 35px;
  }

  h1 {
    margin-left: 33px;
  }

  .main-container {
    margin-left: 19px;
  }

  .main-container .element {
    height: 140px;
    width: 190px;
  }

  h3 {
    padding-left: 51px;
  }

  img {
    width: 152px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .element .element-text {
    margin-top: -30px;
  }

  .paragraph {
    margin-top: 240px;
    padding-left: 24px;
    padding-bottom: 360px;
    padding-right: 40px;
    text-align: justify;
  }
}

@media (max-width: 800px) {
  .grid {
    margin-left: 17px;
  }

  h1 {
    margin-left: 37px;
  }

  .main-container {
    margin-left: 19px;
  }

  .main-container .element {
    height: 140px;
    width: 190px;
  }

  h3 {
    padding-left: 51px;
  }

  img {
    width: 152px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .element .element-text {
    margin-top: -30px;
  }

  .paragraph {
    margin-top: 240px;
    padding-left: 24px;
    padding-bottom: 360px;
    padding-right: 40px;
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .grid {
    margin-left: 8px;
  }

  h1 {
    margin-left: 20px;
  }

  .main-container {
    margin-left: 1px;
  }

  .main-container .element {
    height: 140px;
    width: 190px;
  }

  h3 {
    padding-left: 51px;
  }

  img {
    width: 152px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .element .element-text {
    margin-top: -30px;
  }

  .paragraph {
    margin-top: 240px;
    padding-left: 24px;
    padding-bottom: 360px;
    padding-right: 40px;
    text-align: justify;
  }
}

/* telefoni */

@media (max-width: 480px) {
  h1 {
    margin-left: 106px;
  }

  .grid {
    grid-template-columns: 78%;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    padding-left: 104px;
    padding-right: 0px;
  }

  .paragraph {
    margin-top: 1310px;
    padding-left: 100px;
    padding-bottom: 360px;
    padding-right: 0;
    text-align: justify;
  }
}

@media (max-width: 470px) {
  h1 {
    margin-left: 105px;
  }
}

@media (max-width: 460px) {
  h1 {
    margin-left: 97px;
  }

  .main-container {
    padding-left: 94px;
  }

  .paragraph {
    padding-left: 92px;
  }
}

@media (max-width: 450px) {
  h1 {
    margin-left: 92px;
  }

  .grid {
    grid-template-columns: 80%;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    padding-left: 89px;
    padding-right: 0px;
  }

  .paragraph {
    margin-top: 1310px;
    padding-left: 80px;
    padding-bottom: 360px;
    padding-right: 0;
    text-align: justify;
  }
}

@media (max-width: 430px) {
  h1 {
    margin-left: 80px;
  }

  .grid {
    grid-template-columns: 80%;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    padding-left: 80px;
    padding-right: 0px;
  }

  .paragraph {
    margin-top: 1310px;
    padding-left: 80px;
    padding-bottom: 360px;
    padding-right: 0;
    text-align: justify;
  }
}

@media (max-width: 420px) {
  h1 {
    margin-left: 73px;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    padding-left: 70px;
    padding-right: 0px;
  }
  .paragraph {
    margin-top: 1310px;
    padding-left: 73px;
    padding-bottom: 360px;
    padding-right: 0;
    text-align: justify;
  }
}

@media (max-width: 400px) {
  h1 {
    margin-left: 60px;
  }

  .grid {
    grid-template-columns: 85%;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    padding-left: 60px;
    padding-right: 0px;
  }

  .paragraph {
    margin-top: 1290px;
    padding-left: 45px;
    padding-bottom: 360px;
    padding-right: px;
    text-align: justify;
  }
}

@media (max-width: 360px) {
  h1 {
    margin-left: 16px;
  }

  .grid {
    grid-template-columns: 96%;
    padding-left: 20px;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    padding-left: 15px;
    padding-right: 0px;
  }

  .paragraph {
    margin-top: 1310px;
    padding-left: 0px;
    padding-bottom: 360px;
    padding-right: 23px;
    text-align: justify;
  }
}
